@font-face {
    font-family: 'archisticonormal';
    src: url('/assets/archistico_simple-webfont.woff2') format('woff2'),
         url('/assets/archistico_simple-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}